@{
    ViewBag.Title = "Home Page";
    Testing.Models.BakeryEntities db = new Testing.Models.BakeryEntities();
    int sn = 0;
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>SN</th>
                <th>Name</th>
                <th>Email</th>
            </tr>
            @foreach (var item in db.useraccounts.ToList())
            {
                sn++;
                <tr>
                    <th>@sn</th>
                    <th>@item.firstname</th>
                    <th>@item.email</th>
                </tr>
            }
        </table>
    </div>
</div>

